<div class="animated fadeIn">
    <div class="card" style="margin-bottom: 0px;">
        <div class="card-header">
            <div class="form-row">
                <div class="col-4">
                    <h3>{{tipoAccion}} Relación de Despacho {{numero}}</h3>
                </div>
                <div class="col-2">
                    <div *ngIf="accion == 'seeadmin' || accion == 'editadmin'">
                        <span><b>Remitente: </b></span><br>
                        <span>{{reldespacho.razonsocial}}</span>
                    </div>
                </div>
                <div class="col-2">
                    <div *ngIf="accion == 'seeadmin' || accion == 'editadmin'">
                        <span><b>RIF: </b></span><br>
                        <div *ngFor="let ti of tiposidentificacion">
                            <span *ngIf="ti.id == reldespacho.tipoidentificacion">
                                {{ti.nombre}}-{{reldespacho.rif}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div *ngIf="accion == 'seeadmin' || accion == 'editadmin'">
                        <span><b>Fecha: </b></span><br>
                        <span>{{reldespacho.fecha.substr(0,10)}}-{{reldespacho.hora}}</span>
                    </div>
                </div>
                <div class="col-2">
                    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
                        <span style="font-size: 30px" aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <div class="form-row">
                        <div class="col-9">
                            <h4>Facturas</h4>
                        </div>
                        <div class="col-3" align="center">
                            <button [hidden]="!esconderBoton" class="btn btn-sm btn-pill" (click)="generatePDF()" tooltip="Crear PDF" placement="left">
                                <svg-icon src="assets/pdf4.svg" [svgStyle]="{ 'height.px':25,'width.px':25 }"></svg-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col" tooltip="Nro. de Factura" placement="top">Nº Fact.</th>
                                    <th scope="col">Bultos</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col">RIF</th>
                                    <th scope="col">Razón Social</th>
                                    <th scope="col" tooltip="Flete Destino" placement="top">F.D</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Ciudad</th>
                                    <th scope="col">Direccion</th>
                                    <th *ngIf="accion != 'seeadmin'" scope="col">Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let fact of facturas; let i = index">
                                <td>
                                    <!-- VER -->
                                    <span *ngIf="accion == 'seeadmin'">
                                        {{fact.nro}}
                                    </span>
                                    <!-- EDITAR -->
                                    <div *ngIf="accion == 'editadmin'">
                                        <!--  STATUS INTERNO PARA METODO EDITAR FACTURA-->
                                        <span *ngIf="fact.status"> {{fact.nro}} </span>
                                        <input *ngIf="!fact.status" [(ngModel)]="facturas[i].nro" type="text" id="nro" name="nro" class="form-control" placeholder="Nro Factura">
                                    </div>
                                </td>
                                <td>
                                    <!-- VER -->
                                    <span *ngIf="accion == 'seeadmin'">
                                        {{fact.bultos}}
                                    </span>
                                    <!-- EDITAR -->
                                    <div *ngIf="accion == 'editadmin'">
                                        <!--  STATUS INTERNO PARA METODO EDITAR FACTURA-->
                                        <span *ngIf="fact.status"> {{fact.bultos}}</span>
                                        <input *ngIf="!fact.status" [(ngModel)]="facturas[i].bultos" type="text" id="bultos" name="nrobultos" class="form-control" placeholder="Bultos">
                                    </div>
                                </td>
                                <td>
                                    <!-- VER -->
                                    <span *ngIf="accion == 'seeadmin'">
                                        {{fact.valor | number: '1.0-2'}}
                                    </span>
                                    <!-- EDITAR -->
                                    <div *ngIf="accion == 'editadmin'">
                                        <!--  STATUS INTERNO PARA METODO EDITAR FACTURA-->
                                        <span *ngIf="fact.status">{{fact.valor | number: '1.0-2'}}</span>
                                        <input *ngIf="!fact.status" [(ngModel)]="facturas[i].valor" type="text" id="valor" name="valor" class="form-control" placeholder="Valor">
                                    </div>
                                </td>
                                <td>
                                    <!-- VER -->
                                    <div *ngFor="let tipoi of tiposidentificacion">
                                        <span *ngIf="accion == 'seeadmin' && fact.tipoidentificacion == tipoi.id">
                                            {{tipoi.nombre}}-{{fact.rif}}
                                        </span>
                                    </div>
                                    <!-- EDITAR -->
                                    <div *ngIf="accion == 'editadmin'">
                                        <div *ngFor="let tipoi of tiposidentificacion">
                                            <span *ngIf="fact.status && fact.tipoidentificacion == tipoi.id">
                                                {{tipoi.nombre}}-{{fact.rif}}
                                            </span>
                                        </div>
                                        <input *ngIf="!fact.status" [(ngModel)]="facturas[i].rif" type="text" id="rif" name="valor" class="form-control" placeholder="Rif">
                                    </div>
                                </td>
                                <td>
                                    <!-- VER -->
                                    <span *ngIf="accion == 'seeadmin'">
                                        {{fact.razonsocial}}
                                    </span>
                                    <!-- EDITAR -->
                                    <div *ngIf="accion == 'editadmin'">
                                        <span *ngIf="fact.status">{{fact.razonsocial}}</span>
                                        <input *ngIf="!fact.status" [(ngModel)]="facturas[i].razonsocial" type="text" id="razonsocial" name="RazonSocial" class="form-control" placeholder="Razon Social">
                                    </div>
                                </td>
                                <td> 
                                    <!-- VER -->
                                    <span *ngIf="accion == 'seeadmin'">
                                        {{fact.fletedestino}}
                                    </span>
                                    <!-- EDITAR -->
                                    <div *ngIf="accion == 'editadmin'">
                                        <span *ngIf="fact.status">{{fact.fletedestino}}</span>
                                        <div *ngIf="!fact.status" style="width:150%; margin-right: 10px;">
                                            <input type="radio" value="Si" name="fletedestino{{facturas[i].nro}}" [(ngModel)]="facturas[i].fletedestino">
                                            <label style="margin-bottom: 0px;">Si</label><br>
                                            <input type="radio" value="No" name="fletedestino{{facturas[i].nro}}" [(ngModel)]="facturas[i].fletedestino">
                                            <label style="margin-bottom: 0px;">No</label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <!-- VER -->
                                    <div *ngIf="accion == 'seeadmin'">
                                        <div *ngFor="let estad of estados">
                                            <span *ngIf="estad.id == facturas[i].estado">{{estad.nombre}}</span>
                                        </div>
                                    </div>
                                    <!-- EDITAR -->
                                    <div *ngIf="accion == 'editadmin'">
                                        <div *ngIf="fact.status">
                                            <div *ngFor="let estad of estados">
                                                <span *ngIf="estad.id == facturas[i].estado">{{estad.nombre}}</span>
                                            </div>
                                        </div>
                                        <select *ngIf="!fact.status" (change)="CiudadxEstados($event.target.value)"  [(ngModel)]="facturas[i].estado" class="form-control">
                                            <option *ngFor="let esta of estados" [value]="esta.id">
                                                {{esta.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <!-- VER -->
                                    <div *ngIf="accion == 'seeadmin'">
                                        <div *ngFor="let ciud of ciudades">
                                            <span *ngIf="ciud.id == facturas[i].ciudad">{{ciud.nombre}}</span>
                                        </div>
                                    </div>
                                    <!-- EDITAR -->
                                    <div *ngIf="accion == 'editadmin'">
                                        <div *ngIf="fact.status">
                                            <div *ngFor="let ciud of ciudades">
                                                <span *ngIf="ciud.id == facturas[i].ciudad">{{ciud.nombre}}</span>
                                            </div>
                                        </div>
                                        <select *ngIf="!fact.status" [(ngModel)]="facturas[i].ciudad" class="form-control">
                                            <option *ngFor="let ciu of ciudadxEstados" [value]="ciu.id">
                                                {{ciu.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <!-- VER -->
                                    <span *ngIf="accion == 'seeadmin'">
                                        {{fact.direccion}}
                                    </span>
                                    <!-- EDITAR -->
                                    <div *ngIf="accion == 'editadmin'">
                                        <span *ngIf="fact.status">{{fact.direccion}}</span>
                                        <input *ngIf="!fact.status" [(ngModel)]="facturas[i].direccion" type="text" id="text-input" name="Direccion" class="form-control" placeholder="Direccion">
                                    </div>
                                </td>
                                <td *ngIf="accion != 'seeadmin'">
                                        <button *ngIf="fact.status" class="btn btn-sm btn-pill" (click)="editarRow(fact)" tooltip="Modificar" placement="right">
                                            <svg-icon src="assets/editarorden2.svg" [svgStyle]="{ 'height.px': 20, 'width.px':20 }"></svg-icon>
                                        </button>
                                        <button *ngIf="!fact.status" class="btn btn-sm btn-pill" (click)="updateFactura(fact)" tooltip="Guardar" placement="right">
                                            <svg-icon src="assets/save2.svg" [svgStyle]="{ 'height.px': 20, 'width.px':20 }"></svg-icon>
                                        </button>
                                        <button class="btn btn-sm btn-pill" (click)="eliminarFactura(fact, i)" tooltip="Eliminar" placement="left">
                                            <svg-icon src="assets/less2.svg" [svgStyle]="{ 'height.px':20,'width.px':20 }"></svg-icon>
                                        </button>
                                </td>
                              </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><b>Total de Bultos</b></td>
                                    <td><b>{{totalBultos}}</b></td>
                                    <td><b>Monto total BsS</b></td>
                                    <td><b>{{totalBsS | number: '1.0-2'}} BsS</b></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <hr *ngIf="!esconderBoton">
            <div class="form-row">
                <div class="col-12" align="center">
                    <button [hidden]="esconderBoton" class="btn btn-primary" (click)="crearRelacion()">Crear Relación de Despacho</button>
                    <button [hidden]="esconderBoton" class="btn btn-danger" >Limpiar</button>
                </div>
            </div>
        </div>
        <!--  M O D A L   D E   V E R   D E S T I N A T A R I O S  -->
        <div [hidden]="hideModalDestinatario">
        <!--  M O D A L   D E   V E R   D E S T I N A T A R I O S  -->
        <ng-template #content1 let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Destinatarios</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li *ngFor="let dest of destinatarios; let i=index" data-dismiss="modal" aria-hidden="true" (click)="c(openModal(content,dest))" class="list-group-item">{{dest.nombresd}}</li>
                </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" (click)="c('Save click')">Cerrar</button>
            </div>
          </ng-template>
        </div>
        <!--  MODAL DE VER DIRECCIONES DE ENTREGA DEL DESTINATARIOS  -->
        <div [hidden]="hideModalDireccionesEntrega">
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4>Direcciones de Entrega</h4>
                    <button type="button" class="close" (click)="c('Save click')" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Seleccione una direccion.</label>
                    <div class="form-row">
                        <div class="col-12">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Dirección</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Ciudad</th>
                                    <th scope="col">Acción</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dest of destinatario;">
                                        <td><span>{{dest.nombres}}</span></td>
                                        <td><span>{{dest.direccion}}</span></td>
                                        <td>
                                            <div>
                                                <div *ngFor="let esta of estados">
                                                    <span *ngIf="esta.id == dest.estado">
                                                        {{esta.nombre}}
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div *ngFor="let ciu of ciudades">
                                                    <span *ngIf="ciu.id == dest.ciudad">
                                                        {{ciu.nombre}}
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <button (click)="c(seleccionar(dest))" class="btn btn-sm btn-pill" tooltip="Seleccionar" placement="right">
                                                <svg-icon src="assets/select2.svg" [svgStyle]="{ 'height.px': 17, 'width.px':17 }"></svg-icon>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let dee of direccionEntrega; let i = index">
                                        <td>
                                            <span>{{dee.nombres}}</span>
                                        </td> 
                                        <td>
                                            <span>{{dee.direccion}}</span>
                                        </td>
                                        <td>
                                            <div>
                                                <div *ngFor="let esta of estados">
                                                    <span *ngIf="esta.id == dee.estado">
                                                        {{esta.nombre}}
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div *ngFor="let ciu of ciudades">
                                                    <span *ngIf="ciu.id == dee.ciudad">
                                                        {{ciu.nombre}}
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <button (click)="c(seleccionar(dee))" class="btn btn-sm btn-pill" tooltip="Seleccionar" placement="right">
                                                <svg-icon src="assets/select2.svg" [svgStyle]="{ 'height.px': 17, 'width.px':17 }"></svg-icon>
                                            </button>
                                        </td>      
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" (click)="c('Save click')">Cerrar</button>
                </div>
            </ng-template>
        </div>
    </div>
</div>

