<div>
    <ngx-spinner [fullScreen]="false" bdColor = "rgb(8,8,8)" type="pacman" size="medium">
        <p class="loading">Generando PDF...</p>
    </ngx-spinner>
    <div id="contentToConvert">
        <div class="card" style="margin-bottom: 0px;">
            <div class="card-header">
                <div class="form-row">
                    <div class="col-5">
                        <img src="" height="120px" width="300px"/>
                    </div>
                    <div class="col-7">
                        <h5><strong>INVERSIONES Y SERVICIOS JOSGAR M, C.A</strong></h5>
                        <h6>Zona industrial Castillito, fundo  La Unión, parcela N°11.San Diego Edo. Carabobo.</h6>
                        <h6>Teléfonos: 0424-3296590 - 0414-4137944</h6>
                        <h6>RIF: J- 41148473-3</h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-12" align="center">
                        <h5><strong>RELACION DE DESPACHO #{{facturasPDF[0].nrorelaciondespacho}}</strong></h5>
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-4">
                        <h6>Remitente: {{remitente}}</h6>
                    </div>
                    <div class="col-4">
                        <h6>RIF/C.I: {{rif}}</h6>
                    </div>
                    <div class="col-4">
                        <h6>Dirección: {{direccion}}</h6>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-4">
                        <h6>Chofer: {{nombreChofer}}</h6>
                    </div>
                    <div class="col-4">
                        <h6>C.I: {{cedulaChofer}}</h6>
                    </div>
                    <div class="col-4">
                        <h6>Modelo Camión: {{modeloVehiculo}}</h6>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-4">
                        <h6>Placa Camión: {{placaVehiculo}}</h6>
                    </div>
                    <div class="col-4">
                        <h6>Tipo: {{tipoVehiculo}}</h6>
                    </div>
                    <div class="col-4">
                        <h6>Color: {{colorVehiculo}}</h6>
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-12">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col" tooltip="Nro. de Factura" placement="top">Nº Fact.</th>
                                    <th scope="col">Bultos</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col">RIF</th>
                                    <th scope="col">Razón Social</th>
                                    <th scope="col" tooltip="Flete Destino" placement="top">F.D</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Ciudad</th>
                                    <th scope="col">Direccion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let fact of facturasPDF; let i = index">
                                    <td>
                                        <span *ngIf="fact.status">{{fact.nro}}</span>
                                    </td>
                                    <td>
                                        <span *ngIf="fact.status">{{fact.bultos}}</span>
                                    </td>
                                    <td>
                                        <span *ngIf="fact.status">{{fact.valor}} bs.S</span>
                                    </td>
                                    <td>
                                        <span *ngIf="fact.status">{{fact.RIF}}</span>
                                    </td>
                                    <td>
                                        <span *ngIf="fact.status">{{fact.RazonSocial}}</span>
                                    </td>
                                    <td> 
                                        <span *ngIf="fact.status">{{fact.fletedestino}}</span>
                                    </td>
                                    <td>
                                        <span *ngIf="fact.status">{{facturasPDF[i].Estado}}</span>
                                    </td>
                                    <td>
                                        <span *ngIf="fact.status">{{facturasPDF[i].Ciudad}}</span>
                                    </td>
                                    <td>
                                        <span *ngIf="fact.status">{{fact.Dir}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-row">
                    <div class="col-6" align="center">
                        <br>
                        <span>___________________________</span><br>
                        <span>Firma y RIF/C.I del Remitente</span>
                    </div>
                    <div class="col-6" align="center">
                        <br>
                        <span>___________________________</span><br>
                        <span>Firma y Cédula del Chofer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
