<div class="animated fadeIn">
    <ngx-spinner [fullScreen]="false" bdColor = "rgb(8,8,8)" type="pacman" size="medium">
        <p class="loading" style="color: white">Cargando las facturas de esta guia de carga...</p>
    </ngx-spinner>
        <div class="card">
            <div class="card-header">
                <div class="form-row">
                    <div class="col-8">
                        <h3 style="margin-bottom: 0px;">Guías de Carga</h3>
                    </div>
                    <div class="col-4">
                        
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-7">
                        <label for="ordencarga">Guía de Carga</label><br>
                        <input type="text" class="form-control" id="buscarGuiaCarga" onkeyup="myFunction4()"placeholder="Indique el nro. de la guía de carga a buscar">
                    </div>
                    <div class="col-4">

                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="card-header">
                        <div class="form-row">
                            <div class="col-9">
                            <h4>Listado de Guías de Cargas</h4>
                            </div>
                            <div class="col-3" align="center">
                            <button (click)="newGuiadeCarga('create')" tooltip="Añadir guía de carga" placement="left" style="border-radius:60px;position:relative;" class="btn btn-primary">
                                <svg-icon src="assets/anadirorden2.svg" [svgStyle]="{ 'height.px':25,'width.px':25 }"></svg-icon> <span style="color:black"> Añadir Guía de Carga</span>
                            </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="table-responsive">
                                <table class="table" id="myTable4">
                                    <thead>
                                        <tr>
                                            <th>Nro.</th>
                                            <th>Chofer</th>
                                            <th>Cédula</th>
                                            <th tooltip="Fecha(YYYY/MM/DD)" placement="top">Fecha</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let gc of guiascarga">
                                            <td>{{gc.nro}}</td>
                                            <td>{{gc.chofer}}</td>
                                            <td>{{gc.cedula}}</td>
                                            <td>{{gc.fecha.substr(0,10)}}</td>
                                            <td>
                                                <button (click)="openModal('see', gc)" tooltip="Ver detalles" placement="left"style="border-radius:60px" class="btn btn-sm btn-pill"><svg-icon src="assets/eye2.svg" [svgStyle]="{ 'height.px':20,'width.px':20 }"></svg-icon></button>
                                                <button (click)="openModal('edit', gc)" tooltip="Modificar" placement="right"style="border-radius:60px" class="btn btn-sm btn-pill"><svg-icon src="assets/editarorden2.svg" [svgStyle]="{ 'height.px':20,'width.px':20 }"></svg-icon></button>
                                                <button (click)="cancelarGuiaCarga(gc.nro)" tooltop="Eliminar" placement="right" style="border-radius:60px" class="btn btn-sm btn-pill"><svg-icon src="assets/cancelar.svg" [svgStyle]="{ 'height.px':20,'width.px':20 }"></svg-icon></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  