<div class="animated fadeIn">
    <ngx-spinner [fullScreen]="false" bdColor = "rgb(8,8,8)" type="pacman" size="medium">
      <p class="loading" style="color: white">Cargando la solicitud de recolecta...</p>
    </ngx-spinner>
    <div class="card">
        <div class="card-header">
            <div class="form-row">
                <div class="col-8">
                    <h3 style="margin-bottom: 0px;">Solicitudes de Recolecta</h3>
                </div>
                <div class="col-4">

                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-7">
                    <label for="ordencarga">Solicitud de Recolecta</label><br>
                    <input type="text" class="form-control" id="buscarSolicitudRecolecta" onkeyup="myFunction3()" placeholder="Indique el nro. de la solicitud de recolecta a buscar">
                </div>
                <div class="col-4">
                </div>
            </div>
            <hr>
            <div class="card">
                <div class="card-header">
                    <div class="form-row">
                        <div class="col-9">
                            <h4>Listado de Solicitudes de Recolecta</h4>
                        </div>
                        <div class="col-3">
                            
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-12">
                            <table id="myTable3" class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Nombres</th>
                                        <th>Razon Social</th>
                                        <th>RIF</th>
                                        <th>Nro. Solicitud</th>
                                        <th>Bultos</th>
                                        <th tooltip="Fecha(YYYY/MM/DD)" placement="top" >Fecha</th>
                                        <th>Hora</th>
                                        <th>Estatus</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let solreco of solicitudesrecolecta; let i=index">
                                        <td>{{solreco.nombres}} {{solreco.apellidos}}</td>
                                        <td>{{solreco.razonsocial}}</td>
                                        <td>{{solreco.rif}}</td>
                                        <td>{{solreco.nro}}</td>
                                        <td>{{solreco.bultos}}</td>
                                        <td>{{solreco.fecha.substr(0,10)}}</td>
                                        <td>{{solreco.hora}}</td>
                                        <td>
                                            <div *ngFor="let sta of status">
                                                <span *ngIf="sta.id == solreco.status">{{sta.nombre}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <button *ngIf="solreco.status == 1" (click)="aceptarSolicitud(solreco)" tooltip="Aceptar" placement="left" style="border-radius:60px" class="btn btn-sm btn-pill"><svg-icon src="assets/accept2.svg" [svgStyle]="{ 'height.px':17,'width.px':17 }"></svg-icon></button>
                                            <button tooltip="Ver" placement="left" (click)="openModal('see',solreco.nro)" style="border-radius:60px" class="btn btn-sm btn-pill"><svg-icon src="assets/eye2.svg" [svgStyle]="{ 'height.px':17,'width.px':17 }"></svg-icon></button>
                                            <button *ngIf="solreco.status == 1" (click)="openModal('edit',solreco.nro)" tooltip="Editar" placement="left" style="border-radius:60px" class="btn btn-sm btn-pill"><svg-icon src="assets/edituser2.svg" [svgStyle]="{ 'height.px':17,'width.px':17 }"></svg-icon></button>
                                            <button *ngIf="solreco.status == 1" (click)="cancelarSolicitud(solreco)" tooltip="Cancelar" placement="right" style="border-radius:60px" class="btn btn-sm btn-pill"><svg-icon src="assets/cancelar.svg" [svgStyle]="{ 'height.px':17,'width.px':17 }"></svg-icon></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
