<div class="container">
  <ngx-spinner [fullScreen]="false" bdColor = "rgb(8,8,8)" type="pacman" size="medium">
    <p class="loading" style="color: white">Cargando datos del destinatario...</p>
  </ngx-spinner>
    <div class="card">
      <div class="card-header">
          <div class='row'>
              <div class="col-8">
                <h3>Destinatarios</h3>
              </div>
              <div class="col-4">
                <button (click)="openModalCrear()" tooltip="Añadir Destinatario" placement="left" style="border-radius:60px;position:relative;left:70%" class="btn btn-primary"><svg-icon src="assets/anadirdestinatario.svg" [svgStyle]="{ 'height.px':25,'width.px':25 }"></svg-icon></button>
              </div>
          </div>
      </div>
      <div class="card-body">
        <div class="row">
            <div class="col-8">
              <div class="form-row">
                  <div class="col-8">
                      <label for="destinatario">Buscar Destinatario</label><br>
                      <input type="text" [(ngModel)]="inputBuscar" class="form-control" id="destinatario" placeholder="Indique el rif del destinatario">
                  </div>
                  <div class="col-4">
                      <label class="invisible" for="destinatario">Destinatario</label><br>
                      <button type="button" (click)="buscarDestinatarios('see')" class="btn btn btn-primary btn-sm btn-pill" tooltip="Buscar Destinatario" placement="right">
                        <svg-icon src="assets/search.svg" [svgStyle]="{ 'height.px':25,'width.px':25 }"></svg-icon>
                      </button>
                  </div>
              </div>
            </div>      
          </div>
          <br/>
        <div class="card">
          <div class="card-header">
            
          </div>
          <div class="card-body">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Rif</th>
                  <th scope="col">Tlf. Móvil</th>
                  <th scope="col"> Tlf.Local</th>
                  <th scope="col">Dirección</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Ciudad</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dest of destinatarios">
                    <td>{{dest.nombresd}}</td>
                    <td>{{dest.rifd}}</td>
                    <td>{{dest.tlfmovild}}</td>
                    <td>{{dest.tlfijod}}</td>
                    <td>{{dest.direcciond}}</td>
                    <td>
                      <div *ngFor="let es of estados"><span *ngIf="es.id == dest.estadod">{{es.nombre}}</span></div>
                    </td>
                    <td>
                      <div *ngFor="let ciu of ciudades"><span *ngIf="ciu.id == dest.ciudadd">{{ciu.nombre}}</span></div>
                    </td>
                    <td>
                        <button tooltip="Ver detalles" placement="left"style="border-radius:60px" (click)="openModal('see', dest)" class="btn btn-sm btn-pill"><svg-icon src="assets/eye2.svg" [svgStyle]="{ 'height.px':17,'width.px':17 }"></svg-icon></button>
                        <button tooltip="Modificar" placement="right"style="border-radius:60px" (click)="openModal('edit', dest)" class="btn btn-sm btn-pill"><svg-icon src="assets/editarorden2.svg" [svgStyle]="{ 'height.px':17,'width.px':17 }"></svg-icon></button>
                        <button tooltip="Eliminar" placement="right" style="border-radius: 60px;" (click)="cancelarDestinatario(dest)" class="btn btn-sm btn-pill"><svg-icon src="assets/cancelar.svg" [svgStyle]="{ 'height.px':17,'width.px':17 }"></svg-icon></button>
                    </td>
                </tr>
              </tbody>
            </table>
            <pagination (pageChanged)="pageChanged($event)" [totalItems]="allDestinatarios.length"></pagination> 
          </div>
        </div>
        
      </div>
    </div>
  </div>
  