<div class="animated fadeIn">
    <div class="card" style="margin-bottom: 0px;">
        <div class="card-header">
            <h3>{{tipoAccion}} Relación de Despacho {{numero}}</h3>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <div class="form-row">
                        <div class="col-9">
                            <h4>Facturas</h4>
                        </div>
                        <div class="col-1">
                            <button [hidden]="esconderBoton" class="btn btn-success btn-sm btn-pill" (click)="agregarFila()" tooltip="Añadir fila" placement="left">
                                <svg-icon src="assets/add.svg" [svgStyle]="{ 'height.px':15,'width.px':15 }"></svg-icon>
                            </button>
                        </div>
                        <div class="col-1">
                            <button [hidden]="esconderBoton" class="btn btn-danger btn-sm btn-pill" (click)="eliminarFila()" tooltip="Remover fila" placement="right">
                                <svg-icon src="assets/less.svg" [svgStyle]="{ 'height.px':15,'width.px':15 }"></svg-icon>
                            </button>
                        </div>
                        <div class="col-1">
                            <button [hidden]="!esconderBoton" class="btn btn-sm btn-pill" (click)="generatePDF()" tooltip="Crear PDF" placement="left">
                                <svg-icon src="assets/pdf4.svg" [svgStyle]="{ 'height.px':25,'width.px':25 }"></svg-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <table class="table table-sm">
                            <thead>
                              <tr>
                                <th scope="col" tooltip="Nro. de Factura" placement="top">Nº Fact.</th>
                                <th scope="col">Bultos</th>
                                <th scope="col">Valor</th>
                                <th scope="col">RIF</th>
                                <th scope="col">Razón Social</th>
                                <th scope="col" tooltip="Flete Destino" placement="top">F.D</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Ciudad</th>
                                <th scope="col">Direccion</th>
                                <th *ngIf="tipoU != 1 && accion=='edit'" scope="col">Accion</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let fact of facturas; let i = index">
                                <td>
                                    <span *ngIf="fact.status">{{fact.nro}}</span>
                                    <input *ngIf="!fact.status" [(ngModel)]="facturas[i].nro" type="text" id="text-input" name="nro" class="form-control" placeholder="Nro Factura">
                                </td>
                                <td>
                                    <span *ngIf="fact.status">{{fact.bultos}}</span>
                                    <input *ngIf="!fact.status" [(ngModel)]="facturas[i].bultos" type="text" id="text-input" name="nrobultos" class="form-control" placeholder="Bultos">
                                </td>
                                <td>
                                    <span *ngIf="fact.status">{{fact.valor}}</span>
                                    <input *ngIf="!fact.status" [(ngModel)]="facturas[i].valor" type="text" id="text-input" name="valor" class="form-control" placeholder="Valor">
                                </td>
                                <td>
                                    <span *ngIf="fact.status">{{fact.RIF}}</span>
                                    <input *ngIf="!fact.status" [(ngModel)]="facturas[i].RIF" type="text" id="text-input" name="valor" class="form-control" placeholder="Rif">
                                </td>
                                <td>
                                    <span *ngIf="fact.status">{{fact.RazonSocial}}</span>
                                    <input *ngIf="!fact.status" [(ngModel)]="facturas[i].RazonSocial" type="text" id="text-input" name="RazonSocial" class="form-control" placeholder="Razon Social">
                                </td>
                                <td> 
                                    <span *ngIf="fact.status">{{fact.fletedestino}}</span>
                                    <div *ngIf="!fact.status" style="width:150%; margin-right: 10px;">
                                        <input type="radio" value="Si" name="fletedestino{{facturas[i].nro}}" [(ngModel)]="facturas[i].fletedestino">
                                        <label for="checkbox1" style="margin-bottom: 0px;">Si</label><br>
                                        <input type="radio" value="No" name="fletedestino{{facturas[i].nro}}" [(ngModel)]="facturas[i].fletedestino">
                                        <label for="checkbox2" style="margin-bottom: 0px;">No</label>
                                    </div>
                                </td>
                                <td>
                                    <span *ngIf="fact.status">{{facturas[i].Estado}}</span>
                                    <select *ngIf="!fact.status" id="text-input" class="form-control">
                                        <option *ngFor="let esta of estado" [value]="esta.id" ngDefaultControl [(ngModel)]="facturas[i].Estado">
                                            {{esta.nombre}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <span *ngIf="fact.status">{{facturas[i].Ciudad}}</span>
                                    <select *ngIf="!fact.status" id="text-input" class="form-control">
                                        <option *ngFor="let ciu of ciudad" [value]="ciu.id" ngDefaultControl [(ngModel)]="facturas[i].Ciudad">
                                            {{ciu.nombre}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <span *ngIf="fact.status">{{fact.Dir}}</span>
                                    <input *ngIf="!fact.status" [(ngModel)]="facturas[i].Dir" type="text" id="text-input" name="Direccion" class="form-control" placeholder="Direccion">
                                </td>
                                <td *ngIf="tipoU != 1 && accion=='edit'">
                                    <button class="btn btn-sm btn-pill" (click)="editarRow(fact)" tooltip="Modificar" placement="right"><svg-icon src="assets/editarorden2.svg" [svgStyle]="{ 'height.px':20,'width.px':20 }"></svg-icon></button>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr *ngIf="!esconderBoton">
            <div class="form-row">
                <div class="col-12" align="center">
                    <button [hidden]="esconderBoton" class="btn btn-primary" (click)="crearRelacion()">Crear</button>
                    <button [hidden]="esconderBoton" class="btn btn-danger" >Limpiar</button>
                </div>
            </div>
        </div>
    </div>
</div>
