<div class="animated fadeIn">
    <div class="card" style="margin-bottom: 0px;">
        <div class="card-header">
            <div class="form-row">
                <div class="col-10">
                    <h3>{{tipoAccion}} Relación de Despacho {{numero}}</h3>
                </div>
                <div class="col-2">
                    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
                        <span style="font-size: 30px" aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <div class="form-row">
                        <div class="col-9">
                            <h4>Facturas</h4>
                        </div>
                        <div class="col-3" align="center">
                            <button [hidden]="!esconderBoton" class="btn btn-sm btn-pill" (click)="generatePDF()" tooltip="Crear PDF" placement="left">
                                <svg-icon src="assets/pdf4.svg" [svgStyle]="{ 'height.px':25,'width.px':25 }"></svg-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngIf="!esconderBoton" class="card border-primary">
                        <form [formGroup]="facturaForm" (ngSubmit)="onSubmit()">
                            <div class="card-header">
                                <div class="form-row">
                                    <div class="col-10">
                                        <h5>Agregar Factura</h5>
                                    </div>
                                    <div class="col-2" align="center">
                                        <button style="padding:0px" [hidden]="esconderBoton" type="submit" class="btn btn-sm btn-pill" tooltip="Añadir factura" placement="left">
                                            <svg-icon src="assets/add2.svg" [svgStyle]="{ 'height.px':25,'width.px':25 }"></svg-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-row">
                                    <!-- Nro Factura -->
                                    <div class="col-2">
                                        <div class="form-group" style="margin-bottom: 0.3rem;">
                                            <label>Nº Fact.</label>
                                            <input formControlName="nro" type="text" class="form-control" placeholder="Nº de factura" required>
                                        </div>
                                        <div *ngIf="facturaForm.controls['nro'].invalid &&(facturaForm.controls['nro'].dirty || facturaForm.controls['nro'].touched)" class="text-danger">
                                            <div *ngIf="facturaForm.controls['nro'].errors.required">
                                                Ingrese el Nº de factura
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Bultos -->
                                    <div class="col-2">
                                        <div class="form-group" style="margin-bottom: 0.3rem;">
                                            <label>Bultos</label>
                                            <input formControlName="bultos" type="number" class="form-control" placeholder="Cant. de bultos" required>
                                        </div>
                                        <div *ngIf="facturaForm.controls['bultos'].invalid &&(facturaForm.controls['bultos'].dirty || facturaForm.controls['bultos'].touched)" class="text-danger">
                                            <div *ngIf="facturaForm.controls['bultos'].errors.required">
                                                Ingrese la cant. de bultos
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Valor -->
                                    <div class="col-2">
                                        <div class="form-group" style="margin-bottom: 0.3rem;">
                                            <label>Valor</label>
                                            <input formControlName="valor" type="text" class="form-control" placeholder="Valor (bsS) " required>
                                        </div>
                                        <div *ngIf="facturaForm.controls['valor'].invalid &&(facturaForm.controls['valor'].dirty || facturaForm.controls['valor'].touched)" class="text-danger">
                                            <div *ngIf="facturaForm.controls['valor'].errors.required">
                                                Ingrese el valor bsS
                                            </div>
                                        </div>
                                    </div>
                                    <!-- RIF -->
                                    <div class="col-3">
                                        <div class="form-group" style="margin-bottom: 0.3rem;">
                                            <label>RIF</label><br>
                                            <input style="width: 75%; display:inline-block;position: relative;" formControlName="rif" type="text" class="form-control" placeholder="RIF" required>
                                            <button style="padding:0px" type="button" class="btn btn-sm btn-pill" tooltip="Buscar Destinatario" placement="top" data-toggle="modal" (click)="openModalDestinatario(content1)">
                                                <svg-icon src="assets/agenda2.svg" [svgStyle]="{ 'height.px':25,'width.px':25 }"></svg-icon>
                                            </button>
                                        </div>
                                        <div *ngIf="facturaForm.controls['rif'].invalid &&(facturaForm.controls['rif'].dirty || facturaForm.controls['rif'].touched)" class="text-danger">
                                            <div *ngIf="facturaForm.controls['rif'].errors.required">
                                                Ingrese el RIF
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Razon Social -->
                                    <div class="col-3">
                                        <div class="form-group" style="margin-bottom: 0.3rem;">
                                            <label>Razón Social</label>
                                            <input formControlName="razonsocial" type="text" class="form-control" placeholder="Razón Social" required>
                                        </div>
                                        <div *ngIf="facturaForm.controls['razonsocial'].invalid &&(facturaForm.controls['razonsocial'].dirty || facturaForm.controls['razonsocial'].touched)" class="text-danger">
                                            <div *ngIf="facturaForm.controls['razonsocial'].errors.required">
                                                Ingrese Razon Social
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <!-- Flete Destino -->
                                    <div class="col-2">
                                        <div class="form-group" style="margin-bottom: 0.3rem; margin-top:7px">                              
                                            <label class="form-check-label" style="margin-bottom: 0px;"><strong>Flete Destino</strong></label><br>
                                            <div style="display: flex" class="form-check form-check-inline">       
                                                <input style="margin-left: 10px; width:15%" formControlName="fletedestino" type="radio" class="form-control form-check-input" value="Si">
                                                <label class="form-check-label" style="margin-bottom: 0px;">Si</label>
                
                                                <input style="margin-left: 10px; width:15%" formControlName="fletedestino" type="radio" class="form-control form-check-input" value="No">
                                                <label class="form-check-label" style="margin-bottom: 0px;">No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="facturaForm.controls['fletedestino'].invalid &&(facturaForm.controls['fletedestino'].dirty || facturaForm.controls['fletedestino'].touched)" class="text-danger">
                                        <div *ngIf="facturaForm.controls['fletedestino'].errors.required">
                                            ¿Desea Flete de Destino?
                                        </div>
                                    </div>
                                    <!-- Estado -->
                                    <div class="col-3">
                                        <div class="form-group" style="margin-bottom: 0.3rem;">
                                            <label for="estado">Estado</label>
                                            <select (change)="CiudadxEstado($event.target.value)" formControlName="estado" class="form-control" required>
                                                <option value="0">-- Seleccione un Estado --</option>
                                                <option *ngFor="let esta of estados" [value]="esta.id">
                                                    {{esta.nombre}}
                                                </option>
                                            </select>
                                        </div>
                                        <div *ngIf="facturaForm.controls['estado'].invalid &&(facturaForm.controls['estado'].dirty || facturaForm.controls['estado'].touched)" class="text-danger">
                                            <div *ngIf="facturaForm.controls['estado'].errors.required">
                                                Escoja un Estado
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Ciudad -->
                                    <div class="col-3">
                                        <div class="form-group" style="margin-bottom: 0.3rem;">
                                            <label for="ciudad">Ciudad</label>
                                            <select formControlName="ciudad" class="form-control" required>
                                                <option value="0">-- Seleccione una Ciudad --</option>
                                                <option *ngFor="let ciu of ciudadxEstado" [value]="ciu.id">
                                                    {{ciu.nombre}}
                                                </option>
                                            </select>
                                        </div>
                                        <div *ngIf="facturaForm.controls['ciudad'].invalid &&(facturaForm.controls['ciudad'].dirty || facturaForm.controls['ciudad'].touched)" class="text-danger">
                                            <div *ngIf="facturaForm.controls['ciudad'].errors.required">
                                                Escoja una Ciudad
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Direccion -->
                                    <div class="col-4">
                                        <div class="form-group" style="margin-bottom: 0.3rem;">
                                            <label for="dirfiscal">Dirección Fiscal</label>
                                            <input formControlName="direccion" type="text" class="form-control" placeholder="Ingrese su dir. fiscal">
                                        </div>
                                        <div *ngIf="facturaForm.controls['direccion'].invalid &&(facturaForm.controls['direccion'].dirty || facturaForm.controls['direccion'].touched)" class="text-danger">
                                            <div *ngIf="facturaForm.controls['direccion'].errors.required">
                                                Ingrese su direccion
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>    
                    </div>
                    <hr *ngIf="!esconderBoton">
                    <div class="form-row">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col" tooltip="Nro. de Factura" placement="top">Nº Fact.</th>
                                    <th scope="col">Bultos</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col">RIF</th>
                                    <th scope="col">Razón Social</th>
                                    <th scope="col" tooltip="Flete Destino" placement="top">F.D</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Ciudad</th>
                                    <th scope="col">Direccion</th>
                                    <th *ngIf="accion!='see'" scope="col">Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let fact of facturas; let i = index">
                                <td>
                                    <span *ngIf="fact.status">{{fact.nro}}</span>
                                    <input *ngIf="!fact.status" [(ngModel)]="facturas[i].nro" type="text" id="nro" name="nro" class="form-control" placeholder="Nro Factura">
                                </td>
                                <td>
                                    <span *ngIf="fact.status">{{fact.bultos}}</span>
                                    <input *ngIf="!fact.status" [(ngModel)]="facturas[i].bultos" type="text" id="bultos" name="nrobultos" class="form-control" placeholder="Bultos">
                                </td>
                                <td>
                                    <span *ngIf="fact.status">{{fact.valor}}</span>
                                    <input *ngIf="!fact.status" [(ngModel)]="facturas[i].valor" type="text" id="valor" name="valor" class="form-control" placeholder="Valor">
                                </td>
                                <td>
                                    <span *ngIf="fact.status">{{fact.rif}}</span>
                                    <input *ngIf="!fact.status" [(ngModel)]="facturas[i].rif" type="text" id="rif" name="valor" class="form-control" placeholder="Rif">
                                </td>
                                <td>
                                    <span *ngIf="fact.status">{{fact.razonsocial}}</span>
                                    <input *ngIf="!fact.status" [(ngModel)]="facturas[i].razonsocial" type="text" id="razonsocial" name="RazonSocial" class="form-control" placeholder="Razon Social">
                                </td>
                                <td> 
                                    <span *ngIf="fact.status">{{fact.fletedestino}}</span>
                                    <div *ngIf="!fact.status" style="width:150%; margin-right: 10px;">
                                        <input type="radio" value="Si" name="fletedestino{{facturas[i].nro}}" [(ngModel)]="facturas[i].fletedestino">
                                        <label style="margin-bottom: 0px;">Si</label><br>
                                        <input type="radio" value="No" name="fletedestino{{facturas[i].nro}}" [(ngModel)]="facturas[i].fletedestino">
                                        <label style="margin-bottom: 0px;">No</label>
                                    </div>
                                </td>
                                <td>
                                    <div *ngIf="fact.status">
                                        <div *ngFor="let estad of estados">
                                            <span *ngIf="estad.id == facturas[i].estado">{{estad.nombre}}</span>
                                        </div>
                                    </div>
                                    <select (change)="CiudadxEstados($event.target.value)" *ngIf="!fact.status" [(ngModel)]="facturas[i].estado" class="form-control">
                                        <option *ngFor="let esta of estados" [value]="esta.id">
                                            {{esta.nombre}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <div *ngIf="fact.status">
                                        <div *ngFor="let ciud of ciudades">
                                            <span *ngIf="ciud.id == facturas[i].ciudad">{{ciud.nombre}}</span>
                                        </div>
                                    </div>
                                    <select *ngIf="!fact.status" [(ngModel)]="facturas[i].ciudad" class="form-control">
                                        <option *ngFor="let ciu of ciudadxEstados" [value]="ciu.id">
                                            {{ciu.nombre}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <span *ngIf="fact.status">{{fact.direccion}}</span>
                                    <input *ngIf="!fact.status" [(ngModel)]="facturas[i].direccion" type="text" id="text-input" name="Direccion" class="form-control" placeholder="Direccion">
                                </td>
                                <td *ngIf="accion!='see'">
                                    <button *ngIf="fact.status && accion!='create'" class="btn btn-sm btn-pill" (click)="editarRow(fact)" tooltip="Modificar" placement="right">
                                        <svg-icon src="assets/editarorden2.svg" [svgStyle]="{ 'height.px': 20, 'width.px':20 }"></svg-icon>
                                    </button>
                                    <button *ngIf="!fact.status" class="btn btn-sm btn-pill" (click)="updateFactura(fact)" tooltip="Guardar" placement="right">
                                        <svg-icon src="assets/save2.svg" [svgStyle]="{ 'height.px': 20, 'width.px':20 }"></svg-icon>
                                    </button>
                                    <button *ngIf="fact.status" class="btn btn-sm btn-pill" (click)="eliminarFactura(i)" tooltip="Eliminar" placement="left">
                                        <svg-icon src="assets/less2.svg" [svgStyle]="{ 'height.px':20,'width.px':20 }"></svg-icon>
                                    </button>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr *ngIf="!esconderBoton">
            <div class="form-row">
                <div class="col-12" align="center">
                    <button [hidden]="esconderBoton" class="btn btn-primary" (click)="crearRelacion()">Crear Relación de Despacho</button>
                    <button [hidden]="esconderBoton" class="btn btn-danger" >Limpiar</button>
                </div>
            </div>
        </div>
        <!--  M O D A L   D E   V E R   D E S T I N A T A R I O S  -->
        <div [hidden]="hideModalDestinatario">
        <!--  M O D A L   D E   V E R   D E S T I N A T A R I O S  -->
        <ng-template #content1 let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Destinatarios</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li *ngFor="let dest of destinatarios; let i=index" data-dismiss="modal" aria-hidden="true" (click)="c(openModal(content,dest))" class="list-group-item">{{dest.nombresd}}</li>
                </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" (click)="c('Save click')">Cerrar</button>
            </div>
          </ng-template>
        </div>
        <!--  MODAL DE VER DIRECCIONES DE ENTREGA DEL DESTINATARIOS  -->
        <div [hidden]="hideModalDireccionesEntrega">
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4>Direcciones de Entrega</h4>
                    <button type="button" class="close" (click)="c('Save click')" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Seleccione una direccion.</label>
                    <div class="form-row">
                        <div class="col-12">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Dirección</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Ciudad</th>
                                    <th scope="col">Acción</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dest of destinatario;">
                                        <td><span>{{dest.nombres}}</span></td>
                                        <td><span>{{dest.direccion}}</span></td>
                                        <td>
                                            <div>
                                                <div *ngFor="let esta of estados">
                                                    <span *ngIf="esta.id == dest.estado">
                                                        {{esta.nombre}}
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div *ngFor="let ciu of ciudades">
                                                    <span *ngIf="ciu.id == dest.ciudad">
                                                        {{ciu.nombre}}
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <button (click)="c(seleccionar(dest))" class="btn btn-sm btn-pill" tooltip="Seleccionar" placement="right">
                                                <svg-icon src="assets/select2.svg" [svgStyle]="{ 'height.px': 17, 'width.px':17 }"></svg-icon>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let dee of direccionEntrega; let i = index">
                                        <td>
                                            <span>{{dee.nombres}}</span>
                                        </td> 
                                        <td>
                                            <span>{{dee.direccion}}</span>
                                        </td>
                                        <td>
                                            <div>
                                                <div *ngFor="let esta of estados">
                                                    <span *ngIf="esta.id == dee.estado">
                                                        {{esta.nombre}}
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div *ngFor="let ciu of ciudades">
                                                    <span *ngIf="ciu.id == dee.ciudad">
                                                        {{ciu.nombre}}
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <button (click)="c(seleccionar(dee))" class="btn btn-sm btn-pill" tooltip="Seleccionar" placement="right">
                                                <svg-icon src="assets/select2.svg" [svgStyle]="{ 'height.px': 17, 'width.px':17 }"></svg-icon>
                                            </button>
                                        </td>      
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" (click)="c('Save click')">Cerrar</button>
                </div>
            </ng-template>
        </div>
    </div>
</div>
