<div class="animated fadeIn">
    <div class="card" style="margin-bottom: 0px;">
        <div class="card-header">
            <div class="form-row">
                <div class="col-8">
                    <h3>{{tipoAccion}} Solicitud de Recolecta {{numero}} </h3>
                </div>
                <div class="col-4">

                </div>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="solicitudRecolectaForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="form-row">
                    <!--   CANTIDAD   BULTOS  -->
                    <div class="col-3">
                        <div class="form-group" style="margin-bottom: 0.3rem;">
                            <label><strong>Cant. Bultos</strong></label><br>
                            <label *ngIf="see">{{solicitudRecolecta[0].bultos}}</label>
                            <input *ngIf="!see" formControlName="bultos" type="number" class="form-control" placeholder="Cant. Bultos" required>
                        </div>
                        <div *ngIf="solicitudRecolectaForm.controls['bultos'].invalid &&(solicitudRecolectaForm.controls['bultos'].dirty || solicitudRecolectaForm.controls['bultos'].touched)" class="text-danger">
                            <div *ngIf="solicitudRecolectaForm.controls['bultos'].errors.required">
                                Ingrese la cant. de bultos
                            </div>
                        </div>
                    </div>
                    <!--   TIPO   DE   MERCANCIA   -->
                    <div class="col-3">
                        <div class="form-group" style="margin-bottom: 0.3rem;">
                            <label><strong>Tipo Mercancía</strong></label><br>
                            <div *ngIf="see">
                                <div *ngFor="let tipm of tiposmercancia">
                                    <span *ngIf="tipm.id == solicitudRecolecta[0].tipomercancia">{{tipm.nombre}}</span>
                                </div>
                            </div>                            
                            <select *ngIf="!see" formControlName="tipomercancia" class="form-control" required>
                                <option value="0">-- Seleccione un T. de Mercancía --</option>
                                <option *ngFor="let tipomer of tiposmercancia" [value]="tipomer.id">
                                    {{tipomer.nombre}}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="solicitudRecolectaForm.controls['tipomercancia'].invalid &&(solicitudRecolectaForm.controls['tipomercancia'].dirty || solicitudRecolectaForm.controls['tipomercancia'].touched)" class="text-danger">
                            <div *ngIf="solicitudRecolectaForm.controls['tipomercancia'].errors.required">
                                Ingrese el tipo de mercancía
                            </div>
                        </div>
                    </div>
                    <!--   FECHA   -->
                    <div class="col-3">
                        <div class="form-group" style="margin-bottom: 0.3rem;">
                            <label><strong>Fecha</strong></label><br>
                            <span *ngIf="see">{{solicitudRecolecta[0].fecha}}</span>
                            <input *ngIf="!see" formControlName="fecha" type="date" class="form-control" placeholder="dd-mm-yyyy" required>
                        </div>
                        <div *ngIf="solicitudRecolectaForm.controls['fecha'].invalid &&(solicitudRecolectaForm.controls['fecha'].dirty || solicitudRecolectaForm.controls['fecha'].touched)" class="text-danger">
                            <div *ngIf="solicitudRecolectaForm.controls['fecha'].errors.required">
                                Ingrese una fecha
                            </div>
                        </div>
                    </div>
                    <!--   HORA   -->
                    <div class="col-3">
                        <div class="form-group" style="margin-bottom: 0.3rem;">
                            <label><strong>Hora</strong></label><br>
                            <span *ngIf="see">{{solicitudRecolecta[0].hora}}</span>
                            <input *ngIf="!see" formControlName="hora" type="time" class="form-control" placeholder="" required>
                        </div>
                        <div *ngIf="solicitudRecolectaForm.controls['hora'].invalid &&(solicitudRecolectaForm.controls['hora'].dirty || solicitudRecolectaForm.controls['hora'].touched)" class="text-danger">
                             <div *ngIf="solicitudRecolectaForm.controls['hora'].errors.required">
                                Ingrese una hora
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <!--   ESTADO   -->
                    <div class="col-3">
                        <div class="form-group" style="margin-bottom: 0.3rem;">
                            <label><strong>Estado</strong></label><br>
                            <div *ngIf="see">
                                <div *ngFor="let estad of estados">
                                    <span *ngIf="estad.id == solicitudRecolecta[0].estado">{{estad.nombre}}</span>
                                </div>
                            </div> 
                            <select *ngIf="!see" formControlName="estado" class="form-control" required>
                                <option value="0">-- Seleccione un Estado --</option>
                                <option *ngFor="let esta of estados" (click)="CiudadxEstado(esta.id)" [value]="esta.id">
                                    {{esta.nombre}}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="solicitudRecolectaForm.controls['estado'].invalid &&(solicitudRecolectaForm.controls['estado'].dirty || solicitudRecolectaForm.controls['estado'].touched)" class="text-danger">
                            <div *ngIf="solicitudRecolectaForm.controls['estado'].errors.required">
                                Ingrese un estado
                            </div>
                        </div>
                    </div>
                    <!--   CIUDAD   -->
                    <div class="col-3">
                        <div class="form-group" style="margin-bottom: 0.3rem;">
                            <label><strong>Ciudad</strong></label><br>
                            <div *ngIf="see">
                                <div *ngFor="let ciud of ciudades">
                                    <span *ngIf="ciud.id == solicitudRecolecta[0].ciudad">{{ciud.nombre}}</span>
                                </div>
                            </div>
                            <select *ngIf="!see" formControlName="ciudad" class="form-control" required>
                                <option value="0">-- Seleccione una Ciudad --</option>
                                <option *ngFor="let ciu of ciudadxEstado" [value]="ciu.id">
                                    {{ciu.nombre}}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="solicitudRecolectaForm.controls['ciudad'].invalid &&(solicitudRecolectaForm.controls['ciudad'].dirty || solicitudRecolectaForm.controls['ciudad'].touched)" class="text-danger">
                            <div *ngIf="solicitudRecolectaForm.controls['ciudad'].errors.required">
                                Ingrese una ciudad
                            </div>
                        </div>
                    </div>
                    <!--   DIRECCION  -->
                    <div class="col-6">
                        <div class="form-group" style="margin-bottom: 0.3rem;">
                            <label><strong>Dirección</strong></label><br>
                            <span *ngIf="see">{{solicitudRecolecta[0].direccion}}</span>
                            <input *ngIf="!see" formControlName="direccion" type="text" class="form-control" placeholder="Direccion Completa" required>
                        </div>
                        <div *ngIf="solicitudRecolectaForm.controls['direccion'].invalid &&(solicitudRecolectaForm.controls['direccion'].dirty || solicitudRecolectaForm.controls['direccion'].touched)" class="text-danger">
                            <div *ngIf="solicitudRecolectaForm.controls['direccion'].errors.required">
                                Ingrese una dirección
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <!--   OBSERVACION   -->
                    <div class="col-12">
                        <div class="form-group" style="margin-bottom: 0.3rem;">
                            <label><strong>Observación</strong></label><br>
                            <span *ngIf="see">{{solicitudRecolecta[0].observacion}}</span>
                            <textarea *ngIf="!see" formControlName="observacion" rows="4" class="form-control" placeholder="Si es necesario puede ingresar alguna observación..."></textarea>
                        </div>
                    </div>
                </div>
                <hr *ngIf="!esconderBoton">
                <div class="form-row">
                    <!--   BOTON DE REGISTRAR Y LIMPIAR CAMPOS  -->
                    <div class="col-12" align="center">
                        <button [hidden]="esconderBoton" type="submit" class="btn btn-primary" >Crear</button>
                        <button [hidden]="esconderBoton" type="button" class="btn btn-danger" (click)="limpiar()">Limpiar</button>
                    </div>
                </div>
                <!--   FIN DEL FORMULARIO   -->
            </form>
        </div>
    </div>
</div>
