<div class="animated fadeIn">
    <ngx-spinner [fullScreen]="false" bdColor = "rgb(8,8,8)" type="pacman" size="medium">
      <p class="loading" style="color: white">Cargando las facturas de esta relación de despacho...</p>
    </ngx-spinner>
      <div class="card">
          <div class="card-header">
              <div class="form-row">
                  <div class="col-8">
                      <h3 style="margin-bottom: 0px;">Relaciones de Despacho</h3>
                  </div>
                  <div class="col-4">
                    
                  </div>
              </div>
          </div>
          <div class="card-body">
              <div class="form-row">
                  <div class="col-7">
                      <label for="ordencarga">Relación de Despacho</label><br>
                      <input type="text" id="buscarRelacionDespacho" onkeyup="myFunction2()" class="form-control" placeholder="Indique el nro. de la relación de despacho a buscar">
                  </div>
                  <div class="col-4">
                    
                  </div>
              </div>
              <hr>
              <div class="card">
                <div class="card-header">
                  <div class="form-row">
                    <div class="col-9">
                      <h4>Listado de Relaciones de Despacho</h4>
                    </div>
                    <div class="col-3">
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="form-row">
                    <div class="table-responsive">
                      <table id="myTable2" class="table">
                        <thead>
                          <tr>
                            <th># Relación</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Razón Social</th>
                            <th>RIF</th>
                            <th tooltip="Fecha(YYYY/MM/DD)" placement="top">Fecha</th>
                            <th>Hora</th>
                            <th>Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let reladespa of relacionesdespacho">
                            <td>{{reladespa.nro}}</td>
                            <td>{{reladespa.nombres}}</td>
                            <td>{{reladespa.apellidos}}</td>
                            <td>{{reladespa.razonsocial}}</td>
                            <td>
                              <div *ngFor="let ti of tiposidentificacion">
                                <span *ngIf="ti.id == reladespa.tipoidentificacion">
                                  {{ti.nombre}}-{{reladespa.rif}}
                                </span>
                              </div>
                            </td>
                            <td>{{reladespa.fecha.substr(0,10)}}</td>
                            <td>{{reladespa.hora}}</td>
                            <td>
                              <button (click)="openModal('seeadmin', reladespa)" tooltip="Ver detalles" placement="left" style="border-radius:60px" class="btn btn-sm btn-pill"><svg-icon src="assets/eye2.svg" [svgStyle]="{ 'height.px':20,'width.px':20 }"></svg-icon></button>
                              <button (click)="openModal('editadmin', reladespa)" tooltip="Modificar" placement="left" style="border-radius:60px" class="btn btn-sm btn-pill"><svg-icon src="assets/editarorden2.svg" [svgStyle]="{ 'height.px':20,'width.px':20 }"></svg-icon></button>
                              <button (click)="cancelarRelacionDespacho(reladespa.nro)" tooltop="Eliminar" placement="left" style="border-radius:60px" class="btn btn-sm btn-pill"><svg-icon src="assets/cancelar.svg" [svgStyle]="{ 'height.px':20,'width.px':20 }"></svg-icon></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                  <div class="form-row">
                    <div class="col-12">
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
