<div class="animated fadeIn">
    <div class="form-row">
        <div class="col-3">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Tipos de Mercancía</div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <button class="btn btn-sm btn-pill" tooltip="" placement="left">
                        <svg-icon src="assets/pdf4.svg" [svgStyle]="{ 'height.px':25,'width.px':25 }"></svg-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header"></div>
                <div class="card-body">
                    <h5 class="card-title">Tipos de Identificación</h5>
                    <button class="btn btn-sm btn-pill" tooltip="" placement="left">
                        <svg-icon src="assets/pdf4.svg" [svgStyle]="{ 'height.px':25,'width.px':25 }"></svg-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header"></div>
                <div class="card-body">
                    <h5 class="card-title">Estados</h5>
                    <button class="btn btn-sm btn-pill" tooltip="" placement="left">
                        <svg-icon src="assets/pdf4.svg" [svgStyle]="{ 'height.px':25,'width.px':25 }"></svg-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header"></div>
                <div class="card-body">
                    <h5 class="card-title">Ciudades</h5>
                    <button class="btn btn-sm btn-pill" tooltip="" placement="left">
                        <svg-icon src="assets/pdf4.svg" [svgStyle]="{ 'height.px':25,'width.px':25 }"></svg-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-3">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                <h5 class="card-title">Info card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                <h5 class="card-title">Info card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                <h5 class="card-title">Info card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                <h5 class="card-title">Info card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
