<div class="animated fadeIn">
  <ngx-spinner [fullScreen]="false" bdColor = "rgb(8,8,8)" type="pacman" size="medium">
    <p class="loading" style="color: white">Cargando las facturas de esta relación de despacho...</p>
  </ngx-spinner>
    <div class="card">
        <div class="card-header">
            <div class="form-row">
                <div class="col-8">
                    <h3 style="margin-bottom: 0px;">Relaciones de Despacho</h3>
                </div>
                <div class="col-4">
                  
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-7">
                    <label for="ordencarga">Relación de Despacho</label><br>
                    <input type="text" [(ngModel)]="buscarNroRelacionDespacho" class="form-control" id="ordencarga" placeholder="Indique el nro. de la relación de despacho a buscar">
                </div>
                <div class="col-4">
                    <label class="invisible" for="ordencarga">Orden de Carga</label><br>
                    <button (click)="buscarFacturasdeRelacionDespacho('edit')" type="button" class="btn btn btn-primary btn-sm btn-pill" tooltip="Buscar relación de despacho" placement="right">
                      <svg-icon src="assets/search.svg" [svgStyle]="{ 'height.px':25,'width.px':25 }"></svg-icon>
                    </button>
                </div>
            </div>
            <hr>
            <div class="card">
              <div class="card-header">
                <div class="form-row">
                  <div class="col-9">
                    <h4>Listado de Relaciones de Despacho</h4>
                  </div>
                  <div class="col-3">
                    <button (click)="newRelacionDespacho('create')" tooltip="Añadir relación de despacho" placement="left" style="border-radius:60px;position:relative;left:70%" class="btn btn-primary"><svg-icon src="assets/anadirorden2.svg" [svgStyle]="{ 'height.px':25,'width.px':25 }"></svg-icon></button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="form-row">
                  <div class="col-12">
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th>Nro.</th>
                          <th>Razón Social</th>
                          <th>Fecha</th>
                          <th>Hora</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let reladespa of relacionDespacho10">
                          <td>{{reladespa.nro}}</td>
                          <td>{{this.user.razonsocial}}</td>
                          <td>{{reladespa.fecha}}</td>
                          <td>{{reladespa.hora}}</td>
                          <td>
                            <button (click)="openModal('see', reladespa.nro)" tooltip="Ver detalles" placement="left"style="border-radius:60px" class="btn btn-sm btn-pill"><svg-icon src="assets/eye2.svg" [svgStyle]="{ 'height.px':20,'width.px':20 }"></svg-icon></button>
                            <button (click)="openModal('edit', reladespa.nro)" tooltip="Modificar" placement="right"style="border-radius:60px" class="btn btn-sm btn-pill"><svg-icon src="assets/editarorden2.svg" [svgStyle]="{ 'height.px':20,'width.px':20 }"></svg-icon></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                   <pagination (pageChanged)="pageChanged($event)" [totalItems]="relacionesDespacho.length"></pagination> 
                    <!--  <pagination-controls  id="listing_pagination" directionLinks="true" (pageChange)="page = $event"></pagination-controls> -->
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12">
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
