<div class="animated fadeIn">
  <ngx-spinner [fullScreen]="false" bdColor = "rgb(8,8,8)" type="pacman" size="medium">
    <p class="loading" style="color: white">Cargando la solicitud de recolecta...</p>
  </ngx-spinner>
    <div class="card">
        <div class="card-header">
            <div class="form-row">
                <div class="col-8">
                    <h3 style="margin-bottom: 0px;">Solicitudes de Recolecta</h3>
                </div>
                <div class="col-4">
                  
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-7">
                    <label for="ordencarga">Solicitud de Recolecta</label><br>
                    <input type="text" [(ngModel)]="buscarNroSolicitudRecolecta" class="form-control" id="ordencarga" placeholder="Indique el nro. de la solicitud de recolecta a buscar">
                </div>
                <div class="col-4">
                    <label class="invisible" for="ordencarga">Orden de Carga</label><br>
                    <button (click)="buscarFacturasdeRelacionDespacho('see')" type="button" class="btn btn btn-primary btn-sm btn-pill" tooltip="Buscar solicitud de recolecta" placement="right">
                      <svg-icon src="assets/search.svg" [svgStyle]="{ 'height.px':25,'width.px':25 }"></svg-icon>
                    </button>
                </div>
            </div>
            <hr>
            <div class="card">
              <div class="card-header">
                <div class="form-row">
                  <div class="col-9">
                    <h4>Listado de mis Solicitudes de Recolecta</h4>
                  </div>
                  <div class="col-3">
                    <button (click)="newSolicitudRecolecta()" tooltip="Crear solicitud de recolecta" placement="left" style="border-radius:60px;position:relative;left:70%" class="btn btn-primary"><svg-icon src="assets/anadirorden2.svg" [svgStyle]="{ 'height.px':25,'width.px':25 }"></svg-icon></button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="form-row">
                  <div class="col-12">
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th>Nro.</th>
                          <th>Bultos</th>
                          <th>Fecha</th>
                          <th>Hora</th>
                          <th>Estatus</th>
                          <th>Acción</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let solreco of solicitudesRecolecta; let i=index">
                          <td>{{solreco.nro}}</td>
                          <td>{{solreco.bultos}}</td>
                          <td>{{solreco.fecha}}</td>
                          <td>{{solreco.hora}}</td>
                          <td>
                            <div *ngFor="let sta of status">
                              <span *ngIf="sta.id == solreco.status">{{sta.nombre}}</span>
                            </div>
                          </td>
                          <td>
                            <button (click)="openModal('see',solreco.nro)" tooltip="Ver" placement="left" style="border-radius:60px" class="btn btn-sm btn-pill"><svg-icon src="assets/eye2.svg" [svgStyle]="{ 'height.px':25,'width.px':25 }"></svg-icon></button>
                            <button *ngIf="solreco.status==1" (click)="cancelarSolicitud(solreco)" tooltip="Cancelar" placement="right" style="border-radius:60px" class="btn btn-sm btn-pill"><svg-icon src="assets/cancelar.svg" [svgStyle]="{ 'height.px':17,'width.px':17 }"></svg-icon></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination (pageChanged)="pageChanged($event)" [totalItems]="solicitudesRecolecta.length"></pagination> 
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

